/*******************************************************************************
 * style.scss
 *
 * This file shouldn't directly contain any SCSS code, instead it only serves to
 * combine the SCSS contained in other Sass partials through @import directives.
 *
 * BASE............Styling for common HTML and Drupal elements.
 * LAYOUT..........Styles for the page structure that contain components.
 * COMPONENTS......Components, their modifiers and sub-components.
 ******************************************************************************/
/* normalize.css v1.1.0 | MIT License | git.io/normalize */
/* normalize.css v1.1.0 | HTML5 Display Definitions | MIT License | git.io/normalize */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_html5\.scss}line{font-family:\0000320}}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_html5\.scss}line{font-family:\0000328}}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_html5\.scss}line{font-family:\0000339}}
audio:not([controls]) {
  display: none;
  height: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_html5\.scss}line{font-family:\0000346}}
[hidden] {
  display: none;
}

/* normalize.css v1.1.0 | Base | MIT License | git.io/normalize */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_base\.scss}line{font-family:\0000313}}
html {
  font-size: 100%;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_base\.scss}line{font-family:\0000330}}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_base\.scss}line{font-family:\0000337}}
body {
  margin: 0;
}

/* normalize.css v1.1.0 | Links | MIT License | git.io/normalize */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_links\.scss}line{font-family:\000039}}
a:focus {
  outline: thin dotted;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_links\.scss}line{font-family:\0000316}}
a:active,
a:hover {
  outline: 0;
}

/* normalize.css v1.1.0 | Typography | MIT License | git.io/normalize */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000313}}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000319}}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000324}}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000329}}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000334}}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000339}}
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000347}}
abbr[title] {
  border-bottom: 1px dotted;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000354}}
b,
strong {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000359}}
blockquote {
  margin: 1em 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000366}}
dfn {
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000373}}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000381}}
mark {
  background: #ff0;
  color: #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000390}}
p,
pre {
  margin: 1em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\00003100}}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\00003110}}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\00003118}}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\00003127}}
q {
  quotes: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\00003132}}
q:before,
q:after {
  content: '';
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\00003140}}
small {
  font-size: 80%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\00003147}}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\00003154}}
sup {
  top: -0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\00003158}}
sub {
  bottom: -0.25em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_lists\.scss}line{font-family:\0000311}}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_lists\.scss}line{font-family:\0000315}}
dd {
  margin: 0 0 0 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_lists\.scss}line{font-family:\0000323}}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_lists\.scss}line{font-family:\0000330}}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* normalize.css v1.1.0 | Embedded Content | MIT License | git.io/normalize */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_embeds\.scss}line{font-family:\000039}}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_embeds\.scss}line{font-family:\0000318}}
svg:not(:root) {
  overflow: hidden;
}

/* normalize.css v1.1.0 | Figures | MIT License | git.io/normalize */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_figures\.scss}line{font-family:\000039}}
figure {
  margin: 0;
}

/* normalize.css v1.1.0 | Forms | MIT License | git.io/normalize */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_forms\.scss}line{font-family:\0000310}}
form {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_forms\.scss}line{font-family:\0000317}}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_forms\.scss}line{font-family:\0000330}}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_forms\.scss}line{font-family:\0000349}}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_forms\.scss}line{font-family:\0000363}}
button,
input {
  line-height: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_forms\.scss}line{font-family:\0000373}}
button,
select {
  text-transform: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_forms\.scss}line{font-family:\0000390}}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_forms\.scss}line{font-family:\00003101}}
button[disabled],
html input[disabled] {
  cursor: default;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_forms\.scss}line{font-family:\00003113}}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_forms\.scss}line{font-family:\00003126}}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_forms\.scss}line{font-family:\00003137}}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_forms\.scss}line{font-family:\00003144}}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_forms\.scss}line{font-family:\00003152}}
textarea {
  overflow: auto;
  vertical-align: top;
}

/* normalize.css v1.1.0 | Tables | MIT License | git.io/normalize */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_tables\.scss}line{font-family:\000039}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*******************************************************************************
 * _utils.scss
 *
 * Sass offers come very useful features, these include variables functions and
 * mixins. Extensions such as Compass and Susy can also be used to provide extra
 * functions and mixins to be used throughout the theme. This file acts as a
 * single place for defining these things, which can then be accessed by
 * importing _utils.scss where required. The following should be defined in this
 * file:
 * - Custom Sass mixins for the theme.
 * - Custom Sass functions for the theme.
 * - Overriding the default variables provided by extensions such as Compass.
 * - Defining new variables for:
 *      - Colors.
 *      - Font sizes and families.
 *      - Layout and grid sizing.
 ******************************************************************************/
/*******************************************************************************
 * _base.scss

 * Base styles define the default look for HTML and common Drupal elements.
 *
 * These rules will generally be made up of element selectors for HTML elements
 * such as headings, paragraphs and lists. Common Drupal elements such as form
 * items, collapsible fieldsets and messages should be included in this partial.
 *
 * The styleguide module (http://drupal.org/project/styleguide) gives you a good
 * overview of Drupals common elements for styling. By setting a solid baseline
 * before adding any more specific customisations you ensure that as any new
 * features are added they will be correctly styled without any extra work.
 ******************************************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\0000316}}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\0000320}}
html {
  font-size: 62.5%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\0000324}}
body {
  font-size: 100%;
  font-size: 13px;
  font-size: 1.3rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  padding-top: 8px;
  background: #2f383f;
  color: #444;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\0000334}}
a {
  text-decoration: none;
  color: #4da1bd;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\0000337}}
a:hover {
  color: #3a849d;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\0000342}}
p {
  font-size: 12px;
  font-size: 1.2rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\0000346}}
img {
  max-width: 100%;
  height: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\0000351}}
h1 {
  font-size: 26px;
  font-size: 2.6rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\0000355}}
h1, h2, h3, h4, h5, h6 {
  font-family: "chaparral-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #3F454C;
  font-weight: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\0000361}}
.menu {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\0000363}}
.menu .expanded, .menu .collapsed, .menu .leaf {
  list-style-image: none;
  list-style-type: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\0000369}}
.l-page {
  background: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\0000376}}
.l-branding {
  padding: 10px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\0000380}}
#block-responsive-navigation-1 {
  background: #2f383f;
  margin-top: -15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\0000384}}
#block-responsive-navigation-1 li {
  border-bottom: 1px solid #272d31;
  border-top: 1px solid #3a434a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\0000387}}
#block-responsive-navigation-1 li a {
  color: #fff;
  font-size: 16px;
  font-size: 1.6rem;
  padding: 10px 20px;
  display: block;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\0000391}}
#block-responsive-navigation-1 li a:hover {
  background: #242b30;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\0000398}}
#block-responsive-navigation-1 #nav-toggle {
  float: right;
  font-size: 30px;
  font-size: 3rem;
  margin-right: 10px;
  margin-top: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003108}}
.l-header {
  padding-top: 15px;
  margin-bottom: 40px;
  border-bottom: 1px dotted #ccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003112}}
.l-header .l-constrained {
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003118}}
#block-multiblock-1 a {
  padding: 8px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003124}}
.flexslider {
  border: none;
  box-shadow: none;
  background: none;
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003130}}
.flexslider .slides img {
  width: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003138}}
.front .flexslider h2 {
  font-size: 30px;
  font-size: 3rem;
  border-bottom: 1px dotted #ccc;
  margin-bottom: 10px;
  padding-bottom: 0px;
  margin-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003145}}
.front .flexslider h3 {
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  font-size: 11px;
  font-size: 1.1rem;
  letter-spacing: 1px;
  color: #b8e0e9;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003153}}
.front .flexslider .quote {
  background: #dff1f5;
  padding: 20px;
  position: absolute;
  height: 112px;
  margin: 0 12%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003160}}
.front .flexslider .quote:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: #dff1f5 transparent transparent transparent;
  bottom: -19px;
  right: 45%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003171}}
.front .flexslider .quote-source {
  margin-top: 140px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003174}}
.front .flexslider .quote-source p {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003178}}
.front .flexslider .name {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003184}}
.slide-text {
  position: relative;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003189}}
.flex-direction-nav a {
  height: 50px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003195}}
.l-highlighted-wrapper {
  margin-bottom: 60px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003199}}
.front h1 {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003203}}
h2.slogan {
  font-size: 26px;
  font-size: 2.6rem;
  line-height: 28px;
  margin-top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003209}}
#block-block-5 {
  padding: 0 30px;
  margin-bottom: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003215}}
#block-views-services-block ul {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003219}}
#block-views-services-block li {
  list-style: none;
  margin: 0;
  padding: 0;
  min-height: 100px;
  text-align: center;
  padding: 20px 50px;
  border-bottom: 1px dotted #ccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003228}}
#block-views-services-block h3 {
  font-size: 20px;
  font-size: 2rem;
  line-height: 21px;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003233}}
#block-views-services-block h4 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-size: 1.3rem;
  margin-top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003243}}
.view-work ul {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003246}}
.view-work ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  clear: both;
  margin-bottom: 10px;
  padding-bottom: 10px;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003257}}
.view-work h2 {
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003262}}
.view-work .views-row {
  display: inline-block;
  margin-bottom: 25px;
  margin-right: 20px;
  vertical-align: top;
  width: 181px;
  height: 320px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003269}}
.view-work .views-row:nth-child(5n) {
  margin-right: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003274}}
.view-work img {
  border: 1px dotted #CCCCCC;
  padding: 5px;
  transition: all 0.5s ease-in-out 0s;
  width: 194px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003280}}
.view-work img:hover {
  box-shadow: 0 0 5px 3px #CCCCCC;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003288}}
.node--work h1 {
  border-bottom: 1px dotted #ccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003291}}
.node--work .flexslider {
  margin-bottom: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003294}}
.node--work .flexslider .slides img {
  border: 1px dotted #CCCCCC;
  margin-bottom: 10px;
  padding: 5px !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003300}}
.node--work .flex-control-nav li {
  background: url("../images/thumb-bg.gif") no-repeat scroll center bottom rgba(0, 0, 0, 0);
  height: 101px;
  margin-right: 8px;
  width: 117px;
  overflow: hidden;
  padding: 1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003307}}
.node--work .flex-control-nav li:last-child {
  margin-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003311}}
.node--work .flex-control-nav img {
  opacity: 0.7;
  padding: 15px 0 0 6px;
  transition: opacity 0.4s ease-in-out 0s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003315}}
.node--work .flex-control-nav img:hover {
  opacity: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003322}}
.field--name-field-work-tag-line {
  font-family: 'proxima-nova';
  font-style: normal;
  font-weight: 100;
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 26px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003330}}
.field--name-field-work-website a {
  background: url("../images/arrow.gif") no-repeat scroll left top rgba(0, 0, 0, 0);
  margin-bottom: 10px;
  padding-left: 20px;
  font-size: 13px;
  font-size: 1.3rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003337}}
#block-views-work-block-1 {
  background: url(../images/more-projects.gif) no-repeat top center;
  padding-top: 60px;
  margin-top: 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003346}}
.page-services .view-services ul {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003350}}
.page-services .view-services li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-bottom: 1px dotted #ccc;
  margin-bottom: 40px;
  padding-bottom: 30px;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003359}}
.page-services .view-services h2 {
  font-size: 26px;
  font-size: 2.6rem;
  margin-top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003370}}
.l-region--sidebar-second .block__title {
  border-bottom: 1px dotted #CCCCCC;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 28px;
  padding-bottom: 4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003377}}
#block-block-3 dt {
  clear: left;
  float: left;
  width: 80px;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003383}}
#block-block-3 dd {
  float: left;
  margin: 0 0 10px;
  width: 200px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003389}}
#block-block-3 p {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003393}}
#block-block-3 p a {
  background: url("../images/download-icon.gif") no-repeat scroll 3% 50% #f6f6f6;
  border: 1px dotted #CCCCCC;
  display: block;
  padding: 10px 20px 10px 46px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003400}}
.profile-pic {
  border: 1px dotted #CCCCCC;
  float: left;
  margin-right: 10px;
  padding: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003407}}
#block-block-2 {
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003411}}
#block-block-8 {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003415}}
.jam-jamvatar {
  float: left;
  margin-right: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003420}}
#edit-submitted-upload-project-planner-upload-button {
  background: #f0f0f0;
  color: #444;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003424}}
#edit-submitted-upload-project-planner-upload-button:hover {
  background: #ccc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003431}}
.l-footer-wrapper {
  background: url(../images/footer-bg.jpg) no-repeat top center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003435}}
.l-region--footer {
  padding: 140px 0 40px 0;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003438}}
.l-region--footer #block-system-main-menu {
  overflow: hidden;
  width: 320px;
  margin: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003442}}
.l-region--footer #block-system-main-menu a {
  color: #808993;
  border-radius: 5px;
  padding: 3px 6px;
  text-transform: uppercase;
  font-size: 11px;
  font-size: 1.1rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003448}}
.l-region--footer #block-system-main-menu a:hover, .l-region--footer #block-system-main-menu a.active {
  background: #2E3439;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003454}}
.l-region--footer #block-block-4 p {
  color: #808993;
  font-size: 11px;
  font-size: 1.1rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/_base\.scss}line{font-family:\00003458}}
.l-region--footer #block-block-4 a {
  color: #808993;
}

/*******************************************************************************
 * _layout.scss
 *
 * The layout of the major regions (usually, but not necessarily Drupal regions)
 * that components will be placed within. Layout styles for the theme's
 * components should not be placed here and should instead be kept with the
 * relevant SCSS for that component.
 ******************************************************************************/
/*******************************************************************************
 * _layout.scss
 *
 * Styling of the "simple" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
/*******************************************************************************
 * _utils.scss
 *
 * Sass offers come very useful features, these include variables functions and
 * mixins. Extensions such as Compass and Susy can also be used to provide extra
 * functions and mixins to be used throughout the theme. This file acts as a
 * single place for defining these things, which can then be accessed by
 * importing _utils.scss where required. The following should be defined in this
 * file:
 * - Custom Sass mixins for the theme.
 * - Custom Sass functions for the theme.
 * - Overriding the default variables provided by extensions such as Compass.
 * - Defining new variables for:
 *      - Colors.
 *      - Font sizes and families.
 *      - Layout and grid sizing.
 ******************************************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\0000329}}
.l-constrained {
  *zoom: 1;
  max-width: 1014px;
  _width: 1014px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
.l-constrained:after {
  content: "";
  display: table;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\0000338}}
.l-region--highlighted,
.l-region--help,
.l-region--sidebar-first,
.l-region--sidebar-second {
  margin-bottom: 20px;
}

@media (min-width: 44em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\0000346}}
  .l-constrained {
    max-width: 1014px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\0000351}}
  .l-branding {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\0000354}}
  .l-region--header {
    width: 66.10169%;
    float: right;
    margin-right: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\0000357}}
  .l-region--navigation {
    clear: both;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\0000364}}
  .has-sidebar-first .l-content,
  .has-sidebar-second .l-content,
  .has-two-sidebars .l-content {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%;
    padding-right: 8.47458%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\0000369}}
  .has-sidebar-first .l-region--sidebar-first,
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-first,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\0000372}}
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-second {
    clear: right;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\0000378}}
  #block-responsive-navigation-1 {
    display: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\0000382}}
  #block-multiblock-1 {
    display: block;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\0000386}}
  #block-multiblock-1 {
    float: right;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\0000389}}
  #block-multiblock-1 li {
    background: url("../images/divider.gif") no-repeat scroll right top rgba(0, 0, 0, 0);
    margin-top: 25px;
    padding-left: 15px;
    padding-right: 30px;
    display: block;
    float: left;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\0000396}}
  #block-multiblock-1 li.last {
    background: none;
    padding-right: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003100}}
  #block-multiblock-1 li a {
    padding: 0 0 30px 0;
    font-size: 13px;
    font-size: 1.3rem;
    letter-spacing: 1px;
    color: #2f383f;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003105}}
  #block-multiblock-1 li a:hover, #block-multiblock-1 li a.active {
    border-bottom: 3px solid #2f383f;
    color: #4DA1BD;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003115}}
  .l-branding {
    padding: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003119}}
  #block-block-5 {
    padding: 0;
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003124}}
  #block-views-services-block {
    width: 66.10169%;
    float: right;
    margin-right: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003126}}
  #block-views-services-block li {
    padding: 0;
    border: none;
    text-align: left;
    width: 48.71795%;
    float: left;
    margin-right: 2.5641%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/susy-1\.0\.8\/sass\/susy\/_grid\.scss}line{font-family:\00003184}}
  #block-views-services-block li:nth-child(2n) {
    float: right;
    margin-right: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003133}}
  #block-views-services-block .service-icon {
    width: 21.05263%;
    float: left;
    margin-right: 5.26316%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003136}}
  #block-views-services-block .service-text {
    width: 73.68421%;
    float: right;
    margin-right: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003142}}
  .front .flex-direction-nav a {
    display: block;
    opacity: 1;
    color: #aaa;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003146}}
  .front .flex-direction-nav a:hover {
    color: #4DA1BD;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003151}}
  .front .flexslider .quote {
    margin: 0 30%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003154}}
  .flex-direction-nav .flex-prev {
    left: 0 !important;
    margin-left: -50px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003158}}
  .flex-direction-nav .flex-next {
    right: 0 !important;
    margin-right: -50px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003165}}
  .node--work .ds-col-1 {
    width: 40.67797%;
    float: left;
    margin-right: 1.69492%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003168}}
  .node--work .ds-col-2 {
    width: 57.62712%;
    float: right;
    margin-right: 0;
    padding-left: 30px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003177}}
  .page-services .view-services .views-row {
    clear: both;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003181}}
  .page-services .view-services .views-row-odd .service-screenshot {
    float: left;
    margin-right: 100px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003187}}
  .page-services .view-services .views-row-even .service-screenshot {
    float: right;
    margin-left: 100px;
  }
}
@media (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003196}}
  .l-constrained {
    max-width: 1014px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003201}}
  .l-branding {
    width: 36.70886%;
    float: left;
    margin-right: 1.26582%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003204}}
  .l-region--header {
    width: 62.02532%;
    float: right;
    margin-right: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003209}}
  .sidebar-first .l-content {
    width: 74.68354%;
    float: right;
    margin-right: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003212}}
  .sidebar-first .l-region--sidebar-first {
    width: 24.05063%;
    float: left;
    margin-right: 1.26582%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003217}}
  .sidebar-second .l-content {
    width: 74.68354%;
    float: left;
    margin-right: 1.26582%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003220}}
  .sidebar-second .l-region--sidebar-second {
    width: 24.05063%;
    float: right;
    margin-right: 0;
    clear: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003227}}
  .two-sidebars .l-content {
    width: 49.36709%;
    float: left;
    margin-right: 1.26582%;
    margin-left: 25.31646%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003232}}
  .two-sidebars .l-region--sidebar-first,
  .two-sidebars .l-region--sidebar-second {
    width: 24.05063%;
    float: left;
    margin-right: 1.26582%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003235}}
  .two-sidebars .l-region--sidebar-first {
    margin-left: -75.94937%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003238}}
  .two-sidebars .l-region--sidebar-second {
    float: right;
    margin-right: 0;
    clear: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003245}}
  .l-highlighted-wrapper {
    background: url(../../../images/highlighted-bg.jpg) repeat-x bottom;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003252}}
  .front .flexslider .flex-viewport li {
    position: relative;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003255}}
  .front .flexslider .slide-text {
    position: absolute;
    top: 50px;
    right: 0;
    width: 230px;
    text-align: left;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003261}}
  .front .flexslider .slide-text .project-link {
    float: right;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003264}}
  .front .flexslider .slide-text .quote-source {
    text-align: right;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003268}}
  .front .flexslider .slide-text .quote {
    margin: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003271}}
  .front .flexslider .slide-text .quote:after {
    right: 20px;
  }
}
/*******************************************************************************
 * _components.scss
 *
 * Imports more partials that contain full components (modules in SMACSS), their
 * sub-components and modifiers.
 *
 * Components are discrete parts of your page that should sit within the regions
 * of your layouts. You should try to abstract your components as much as
 * possible to promote reuse throughout the theme. Components should be flexible
 * enough to respond to any width and should never rely on context
 * (e.g. .sidebar-first .component) for styling. This allows modules to be
 * placed throughout the theme with no risk of them breaking.
 *
 * If you find you need to change the look of a component depending on it's
 * context you should avoid using context based classes at all costs. Instead it
 * is better to add another "modifier" class to the component to alter the
 * styling. Again, this promotes reuse.
 *
 * Sub-components are the individual parts that make up a component. As a
 * general rule, adding a class to target a sub-component is a much better
 * option than using descendant selectors or element selectors. In many cases
 * sub-components can be made more reusable by making them components in their
 * own right, so they can then be used within other components.
 *
 * Almost everything that doesn't belong in base should be made a component.
 * Here's some common examples throughout Drupal:
 *
 * - Blocks
 * - Content Types - For example, you may have a generic node component that
 *      contains sub-components for the submitted by line and links. Specific
 *      components can then be created for each content type to style the
 *      specifics of each. Finally, by using entity view modes you can easily
 *      apply modifications based on the .node-[view-mode] classes.
 * - Forms - For instance the log in form.
 * - Views - Each views output style could be made into a component, the content
 *       of each row should be provided my a view mode styled by it's component
 *       CSS. Exposed filter forms, views pagers and other views elements are
 *       also good candidates for components.
 ******************************************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/components\/_forms\.scss}line{font-family:\000034}}
fieldset {
  position: relative;
  border: none;
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/components\/_forms\.scss}line{font-family:\0000311}}
.fieldset-wrapper {
  margin-top: 20px;
  border-top: 1px dotted #ccc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/components\/_forms\.scss}line{font-family:\0000316}}
legend {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/components\/_forms\.scss}line{font-family:\0000320}}
legend span {
  position: absolute;
  top: 0;
  left: 0;
}

@-moz-document url-prefix() {
  /* line 28, ../sass/components/_forms.scss */
  .a legend span {
    top: -30px !important;
    left: 0 !important;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/components\/_forms\.scss}line{font-family:\0000337}}
input.form-text, textarea {
  font-size: 15px;
  padding: 8px;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/components\/_forms\.scss}line{font-family:\0000346}}
.form-submit {
  padding: 6px 15px;
  font-size: 15px;
  font-size: 1.5rem;
  background: #3a849d;
  border: none;
  color: #fff;
  border-radius: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/components\/_forms\.scss}line{font-family:\0000354}}
.form-submit:hover {
  background: #2c6578;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/components\/_forms\.scss}line{font-family:\0000359}}
.form-item label {
  font-weight: 500;
  margin-bottom: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/components\/_forms\.scss}line{font-family:\0000364}}
.webform-component {
  margin-bottom: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/components\/_forms\.scss}line{font-family:\0000368}}
.form-type-radio label {
  font-weight: 400;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/components\/_forms\.scss}line{font-family:\0000372}}
.marker, .form-required {
  color: #000000;
}

/* Focus styles for accessibility and usabiltiy. */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/components\/_forms\.scss}line{font-family:\0000380}}
.form-text:focus,
.form-checkbox:focus,
.form-radio:focus,
.form-select:focus {
  border: 1px solid #999;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/components\/_forms\.scss}line{font-family:\0000384}}
textarea:focus {
  border: 1px solid #999;
  background: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/components\/_tabs\.scss}line{font-family:\000031}}
ul.tabs {
  padding: 0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/components\/_tabs\.scss}line{font-family:\000036}}
ul.tabs li {
  float: left;
  margin-bottom: -1px;
  margin-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/components\/_tabs\.scss}line{font-family:\0000310}}
ul.tabs li.active a {
  border-color: #ddd #ddd transparent;
  background: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/components\/_tabs\.scss}line{font-family:\0000313}}
ul.tabs li.active a:hover {
  background: #fff;
  border-color: #ddd #ddd transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/components\/_tabs\.scss}line{font-family:\0000318}}
ul.tabs li a {
  margin-right: 2px;
  padding: 8px 12px;
  line-height: 20px;
  border: 1px solid transparent;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: none;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/components\/_tabs\.scss}line{font-family:\0000327}}
ul.tabs li a:hover {
  background: #eee;
  color: #555555;
  border-color: transparent;
  border-bottom: 1px solid #ddd;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/components\/_tabs\.scss}line{font-family:\0000338}}
ul.tabs:before,
ul.tabs:after {
  display: table;
  line-height: 0;
  content: "";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/components\/_tabs\.scss}line{font-family:\0000344}}
ul.tabs:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/components\/_nav\.scss}line{font-family:\000031}}
ul.menu {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/components\/_nav\.scss}line{font-family:\000033}}
ul.menu li.leaf {
  display: inline;
  list-style-image: none;
  list-style-type: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/components\/_nav\.scss}line{font-family:\000037}}
ul.menu li.leaf a {
  display: block;
  padding: 10px;
  float: left;
}
