// Fieldset styles


fieldset{
  position: relative;
  border: none;
  margin: 0;
  padding: 0;
}

.fieldset-wrapper{
  margin-top: 20px;
  border-top: 1px dotted #ccc;
}

legend{
  float: left;
}

legend span{
  position: absolute;
  top: 0;
  left: 0;
}

// Fix for Firefox
@-moz-document url-prefix() {
  .a legend span {
    top: -30px !important;
    left: 0 !important;
  }
}


// Form Input Styling

input.form-text, textarea{
  font-size: 15px;
  padding: 8px;
  @include border-radius (5px);
  border: 1px solid #ccc;
  width: 100%;
}


.form-submit{
  padding: 6px 15px;
  @include font-size(15);
  background: $linkcolorhover;
  border: none;
  color: #fff;
  border-radius: 15px;
  //border-bottom: 3px solid darken($linkcolorhover, 20);
  &:hover{
    background: darken($linkcolorhover, 10);
  }
}

.form-item label {
    font-weight: 500;
    margin-bottom: 5px;
}

.webform-component{
  margin-bottom: 10px;
}

.form-type-radio label{
  font-weight: 400;
}

.marker, .form-required {
    color: #000000;
}

/* Focus styles for accessibility and usabiltiy. */
.form-text:focus,
.form-checkbox:focus,
.form-radio:focus,
.form-select:focus {
  border: 1px solid #999;
  //background: #f0f8fa;
}
textarea:focus {
  border: 1px solid #999;
  background: #fff;
}
