/*******************************************************************************
 * _base.scss

 * Base styles define the default look for HTML and common Drupal elements.
 *
 * These rules will generally be made up of element selectors for HTML elements
 * such as headings, paragraphs and lists. Common Drupal elements such as form
 * items, collapsible fieldsets and messages should be included in this partial.
 *
 * The styleguide module (http://drupal.org/project/styleguide) gives you a good
 * overview of Drupals common elements for styling. By setting a solid baseline
 * before adding any more specific customisations you ensure that as any new
 * features are added they will be correctly styled without any extra work.
 ******************************************************************************/

*{
  @include box-sizing(border-box);
}

html{
  font-size: 62.5%;
}

body{
  font-size: 100%;
  @include font-size(13);
  font-family: $basefontfamily;
  line-height: $baselineheight;
  padding-top: 8px;
  background: $primarycolor;
  color: #444;
}

a{
  text-decoration: none;
  color: $linkcolor;
  &:hover{
    color: $linkcolorhover;
  }
}

p{
  @include font-size(12);
}

img{
  max-width: 100%;
  height: auto;
}

h1{
  @include font-size(26);
}

h1, h2, h3, h4, h5, h6{
  font-family: $headingfont;
  color: #3F454C;
  font-weight: normal;
}

.menu{
  @include zero;
  .expanded, .collapsed, .leaf{
    list-style-image: none;
    list-style-type: none;
  }
}

.l-page{
  //background: #fff url(../images/header-bg.jpg) repeat-x top;
  background: #fff;
}

// Responsive Nav

.l-branding{
  padding: 10px 0;
}

#block-responsive-navigation-1{
  //background: url(../images/responsive-nav-bg.jpg);
  background: $primarycolor;
  margin-top: -15px;
  li{
    border-bottom: 1px solid #272d31;
    border-top: 1px solid #3a434a;
    a{
      color: #fff;
      @include font-size(16);
      padding: 10px 20px;
      &:hover{
        background: darken($primarycolor, 5);
      }
      display: block;
      text-align: center;
    }
  }
  #nav-toggle{
    float: right;
    @include font-size(30);
    margin-right: 10px;
    margin-top: 10px;
  }
}

// Header

.l-header{
  padding-top: 15px;
  margin-bottom: 40px;
  border-bottom: 1px dotted #ccc;
  .l-constrained{
    margin-bottom: 0;
  }
}

#block-multiblock-1{
  a{
    padding: 8px;
  }
}
// Flexslider

.flexslider{
  border: none;
  box-shadow: none;
  background: none;
  margin-bottom: 0;
  .slides{
    img{
      width: auto;
    }
  }
}

.front{
  .flexslider{
    h2{
      @include font-size(30);
      border-bottom: 1px dotted #ccc;
      margin-bottom: 10px;
      padding-bottom: 0px;
      margin-top: 0;
    }
    h3{
      text-transform: uppercase;
      font-family: $basefontfamily;
      margin: 0;
      @include font-size(11);
      letter-spacing: 1px;
      color: darken($lightblue, 10);
    }
    .quote{
      background: $lightblue;
      padding: 20px;
      position: absolute;
      height: 112px;
      margin: 0 12%;
    }
    .quote:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-width: 10px;
      border-style: solid;
      border-color: $lightblue transparent transparent transparent;
      bottom: -19px;
      right: 45%;
    }
    .quote-source{
      margin-top: 140px;
      //text-align: right;
      p{
        margin: 0;
      }
    }
    .name{
      font-weight: bold;
    }
  }
}

.slide-text{
  position: relative;
  text-align: center;
}

.flex-direction-nav a{
  height: 50px;
}

// Homepage

.l-highlighted-wrapper{
  margin-bottom: 60px;
}

.front h1{
  display: none;
}

h2.slogan{
  @include font-size(26);
  line-height: 28px;
  margin-top: 0;
}

#block-block-5{
  padding: 0 30px;
  margin-bottom: 20px;
}

#block-views-services-block{
  ul{
    margin: 0;
    padding: 0;
  }
  li{
    list-style: none;
    margin: 0;
    padding: 0;
    min-height: 100px;
    text-align: center;
    padding: 20px 50px;
    border-bottom: 1px dotted #ccc;
  }
  h3{
    @include font-size(20);
    line-height: 21px;
    margin: 0;
  }
  h4{
    font-family: $basefontfamily;
    @include font-size(13);
    margin-top: 0;
  }
}

// Work View

.view-work{
  ul{
    margin: 0;
    padding: 0;
    li{
      margin: 0;
      padding: 0;
      list-style-type: none;
      clear: both;
      //border-bottom: 1px dotted #ccc;
      margin-bottom: 10px;
      padding-bottom: 10px;
      overflow: hidden;
    }
  }
  h2{
    margin-bottom: 0;
  }
}

.view-work .views-row {
    display: inline-block;
    margin-bottom: 25px;
    margin-right: 20px;
    vertical-align: top;
    width: 181px;
    height: 320px;
    &:nth-child(5n){
      margin-right: 0;
    }
}

.view-work img {
    border: 1px dotted #CCCCCC;
    padding: 5px;
    transition: all 0.5s ease-in-out 0s;
    width: 194px;
}
.view-work img:hover {
    box-shadow: 0 0 5px 3px #CCCCCC;
}

// Work Node


.node--work{
  h1{
    border-bottom: 1px dotted #ccc;
  }
  .flexslider{
    margin-bottom: 30px;
  }
  .flexslider .slides img{
      border: 1px dotted #CCCCCC;
      margin-bottom: 10px;
      padding: 5px !important;
  }
  .flex-control-nav{
    li{
      background: url("../images/thumb-bg.gif") no-repeat scroll center bottom rgba(0, 0, 0, 0);
      height: 101px;
      margin-right: 8px;
      width: 117px;
      overflow: hidden;
      padding: 1px;
      &:last-child{
        margin-right: 0;
      }
    }
    img{
      opacity: 0.7;
      padding: 15px 0 0 6px;
      transition: opacity 0.4s ease-in-out 0s;
      &:hover{
        opacity: 1;
      }
    }
  }
}

.field--name-field-work-tag-line{
    font-family: 'proxima-nova';
    font-style: normal;
    font-weight: 100;
    @include font-size(22);
    line-height: 26px;
}

.field--name-field-work-website a{
    background: url("../images/arrow.gif") no-repeat scroll left top rgba(0, 0, 0, 0);
    margin-bottom: 10px;
    padding-left: 20px;
    @include font-size(13);
}

#block-views-work-block-1{
  background: url(../images/more-projects.gif) no-repeat top center;
  padding-top: 60px;
  margin-top: 40px;
}

// Services

.page-services .view-services{
  ul{
    margin: 0;
    padding: 0;
  }
  li{
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-bottom: 1px dotted #ccc;
    margin-bottom: 40px;
    padding-bottom: 30px;
    overflow: hidden;
  }
  h2{
    @include font-size(26);
    margin-top: 0;
  }
  h3{
    
  }
}

// Contact

.l-region--sidebar-second .block__title{
    border-bottom: 1px dotted #CCCCCC;
    @include font-size(24);
    line-height: 28px;
    padding-bottom: 4px;
}

#block-block-3 dt {
    clear: left;
    float: left;
    width: 80px;
    font-weight: bold;
}
#block-block-3 dd {
    float: left;
    margin: 0 0 10px;
    width: 200px;
}

#block-block-3 p{
  clear: both;
}

#block-block-3 p a {
    background: url("../images/download-icon.gif") no-repeat scroll 3% 50% #F6F6F6;
    border: 1px dotted #CCCCCC;
    display: block;
    padding: 10px 20px 10px 46px;
}

.profile-pic {
    border: 1px dotted #CCCCCC;
    float: left;
    margin-right: 10px;
    padding: 5px;
}

#block-block-2{
  overflow: hidden;
}

#block-block-8{
  clear: both;
}

.jam-jamvatar {
    float: left;
    margin-right: 20px;
}

#edit-submitted-upload-project-planner-upload-button{
  background: #f0f0f0;
  color: #444;
  //border-bottom: none;
  &:hover{
    background: #ccc;
  }
}

// Footer

.l-footer-wrapper{
  background: url(../images/footer-bg.jpg) no-repeat top center;
}

.l-region--footer{
  padding: 140px 0 40px 0;
  text-align: center;
  #block-system-main-menu{
    overflow: hidden;
    width: 320px;
    margin: auto;
    a{
      color: #808993;
      border-radius: 5px;
      padding: 3px 6px;
      text-transform: uppercase;
      @include font-size(11);
      &:hover, &.active{
        background: #2E3439;
      }
    }
  }
  #block-block-4{
    p{
      color: #808993;
      @include font-size(11);
    }
    a{
      color: #808993;
    }
  }
}

