/*******************************************************************************
 * _layout.scss
 *
 * Styling of the "simple" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
@import "susy";
@import "utils";

// Susy Variables

// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 20px;
$horz-spacing-unit: 1em;

// Define Susy grid variables mobile first.
$total-columns: 4;
$column-width: 4em;
$gutter-width: $horz-spacing-unit;
$grid-padding: 5px;

$container-style: magic;
$container-width: 1024px;

// Susy Media Layouts @see http://susy.oddbird.net/guides/reference/#ref-media-layouts
$tab: 44em 12; // At 44em use 12 columns.
$desk: 70em 16; // At 70em use 16 columns.

.l-constrained {
  @include container; // Define these elements as the grid containers.
  //@include susy-grid-background; // Show the columns for debugging.
  margin-bottom: $vert-spacing-unit;
}

.l-region--highlighted,
.l-region--help,
.l-region--sidebar-first,
.l-region--sidebar-second {
  margin-bottom: $vert-spacing-unit;
    
}



@include at-breakpoint($tab) { // At a given Susy Media Layout, use a given amount of columns.
  .l-constrained{
    @include set-container-width; // Reset only the container width (elements have already been declared as containers).
    //@include susy-grid-background; // Show the columns for debugging.
  }

  .l-branding {
    @include span-columns(4, 12); // Span 4 out of 12 columns.
  }
  .l-region--header{
    @include span-columns(8 omega, 12); // Span the last (omega) 8 columns of 12.
  }
  .l-region--navigation {
    clear: both;
  }

  .has-sidebar-first,
  .has-sidebar-second,
  .has-two-sidebars {
    .l-content {
      @include span-columns(8, 12); // Span 8 out of 12 columns.
      @include suffix(1);
    }
    .l-region--sidebar-first,
    .l-region--sidebar-second {
      @include span-columns(4 omega, 12); // Span the last (omega) 4 columns of 12.
    }
    .l-region--sidebar-second {
      clear: right;
    }
  }

  // nav
  #block-responsive-navigation-1{
    display: none;
  }
  
  #block-multiblock-1{
    display: block;
  }
  
  #block-multiblock-1{
  float: right;
  //display: none;
  li{
    background: url("../images/divider.gif") no-repeat scroll right top rgba(0, 0, 0, 0);
    margin-top: 25px;
    padding-left: 15px;
    padding-right: 30px;
    display: block;
    float: left;
    &.last{
      background: none;
      padding-right: 0;
    }
    a{
      padding: 0 0 30px 0;
      @include font-size(13);
      letter-spacing: 1px;
      color: $primarycolor;
      &:hover, &.active{
        border-bottom: 3px solid $primarycolor;
        color: #4DA1BD;
      }
    }
  }
}
  

  
  .l-branding{
  padding: 0;
  }  
  
  #block-block-5{
    padding: 0;
    @include span-columns (4, 12);
  }
  
  #block-views-services-block{
    @include span-columns (8 omega, 12);
    li{
      padding: 0;
      border: none;
      text-align: left;
      @include span-columns (4, 8);
      @include nth-omega(2n);
    }
    .service-icon{
      @include span-columns (1, 4);
    }
    .service-text{
      @include span-columns (3 omega, 4);
    }
  }

  //Homepage Slideshow
  .front .flex-direction-nav a{
    display: block;
    opacity: 1;
    color: #aaa;
    &:hover{
      color: #4DA1BD;
    }
  }
  
  .front .flexslider .quote{
    margin: 0 30%;
  }
  .flex-direction-nav .flex-prev{
    left: 0 !important;
    margin-left: -50px;
  }
  .flex-direction-nav .flex-next{
    right: 0 !important;
    margin-right: -50px;
  }
  
  // Work Node
  .node--work{
    .ds-col-1{
      @include span-columns (5, 12);
    }
    .ds-col-2{
      @include span-columns (7 omega, 12);
      padding-left: 30px;
    }
  }
  
  // Services
  
  .page-services .view-services{
    .views-row{
      clear: both;
    }
    .views-row-odd{
      .service-screenshot{
        float: left;
        margin-right: 100px;
      }
    }
    .views-row-even{
      .service-screenshot{
        float: right;
        margin-left: 100px;
      }
    }
  }
}

@include at-breakpoint($desk) {
  .l-constrained{
    @include set-container-width; // Reset only the container width (elements have already been declared as containers).
    //@include susy-grid-background; // Show the columns for debugging.
  }

  .l-branding {
    @include span-columns(6, 16); // Span 6 out of 16 columns.
  }
  .l-region--header{
    @include span-columns(10 omega, 16); // Span the last (omega) 10 columns of 16.
  }

  .sidebar-first {
    .l-content {
      @include span-columns(12 omega, 16); // Span the last (omega) 12 columns of 16.
    }
    .l-region--sidebar-first {
      @include span-columns(4, 16); // Span 4 out of 16 columns.
    }
  }
  .sidebar-second {
    .l-content {
      @include span-columns(12, 16); // Span 12 out of 16 columns.
    }
    .l-region--sidebar-second {
      @include span-columns(4 omega, 16); // Span the last (omega) 12 columns of 16.
      clear: none;
    }
  }

  .two-sidebars {
    .l-content {
      @include span-columns(8, 16); // Span 12 out of 16 columns.
      @include push(4, 16);  // Push element by adding 4 out of 16 columns of left margin.
    }
    .l-region--sidebar-first,
    .l-region--sidebar-second {
      @include span-columns(4, 16); // Span 4 out of 16 columns.
    }
    .l-region--sidebar-first {
      @include pull(12, 16); // Pull element by adding 12 out of 16 columns of negative left margin.
    }
    .l-region--sidebar-second {
      @include omega; // This element spans the last (omega) column.
      clear: none;
    }
  }
  
  //Homepage
  .l-highlighted-wrapper{
    background: url(../../../images/highlighted-bg.jpg) repeat-x bottom;
  }
  
  //Homepage Slideshow
  .front{
    .flexslider{
      .flex-viewport li{
        position: relative;
      }
      .slide-text{
        position: absolute;
        top: 50px;
        right: 0;
        width: 230px;
        text-align: left;
        .project-link{
          float: right;
        }
        .quote-source{
          //margin-top: 155px;
          text-align: right;
        }
        .quote{
          margin: 0;
        }
        .quote:after{
          right: 20px;
        }
      }
    }
  }
}
