/*******************************************************************************
 * _layout.scss
 *
 * Styling of the "simple" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
/*******************************************************************************
 * _utils.scss
 *
 * Sass offers come very useful features, these include variables functions and
 * mixins. Extensions such as Compass and Susy can also be used to provide extra
 * functions and mixins to be used throughout the theme. This file acts as a
 * single place for defining these things, which can then be accessed by
 * importing _utils.scss where required. The following should be defined in this
 * file:
 * - Custom Sass mixins for the theme.
 * - Custom Sass functions for the theme.
 * - Overriding the default variables provided by extensions such as Compass.
 * - Defining new variables for:
 *      - Colors.
 *      - Font sizes and families.
 *      - Layout and grid sizing.
 ******************************************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\0000329}}
.l-constrained {
  *zoom: 1;
  max-width: 1014px;
  _width: 1014px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
.l-constrained:after {
  content: "";
  display: table;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\0000338}}
.l-region--highlighted,
.l-region--help,
.l-region--sidebar-first,
.l-region--sidebar-second {
  margin-bottom: 20px;
}

@media (min-width: 44em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\0000346}}
  .l-constrained {
    max-width: 1014px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\0000351}}
  .l-branding {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\0000354}}
  .l-region--header {
    width: 66.10169%;
    float: right;
    margin-right: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\0000357}}
  .l-region--navigation {
    clear: both;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\0000364}}
  .has-sidebar-first .l-content,
  .has-sidebar-second .l-content,
  .has-two-sidebars .l-content {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%;
    padding-right: 8.47458%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\0000369}}
  .has-sidebar-first .l-region--sidebar-first,
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-first,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\0000372}}
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-second {
    clear: right;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\0000378}}
  #block-responsive-navigation-1 {
    display: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\0000382}}
  #block-multiblock-1 {
    display: block;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\0000386}}
  #block-multiblock-1 {
    float: right;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\0000389}}
  #block-multiblock-1 li {
    background: url("../images/divider.gif") no-repeat scroll right top rgba(0, 0, 0, 0);
    margin-top: 25px;
    padding-left: 15px;
    padding-right: 30px;
    display: block;
    float: left;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\0000396}}
  #block-multiblock-1 li.last {
    background: none;
    padding-right: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003100}}
  #block-multiblock-1 li a {
    padding: 0 0 30px 0;
    font-size: 13px;
    font-size: 1.3rem;
    letter-spacing: 1px;
    color: #2f383f;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003105}}
  #block-multiblock-1 li a:hover, #block-multiblock-1 li a.active {
    border-bottom: 3px solid #2f383f;
    color: #4DA1BD;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003115}}
  .l-branding {
    padding: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003119}}
  #block-block-5 {
    padding: 0;
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003124}}
  #block-views-services-block {
    width: 66.10169%;
    float: right;
    margin-right: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003126}}
  #block-views-services-block li {
    padding: 0;
    border: none;
    text-align: left;
    width: 48.71795%;
    float: left;
    margin-right: 2.5641%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/\.rvm\/gems\/ruby-1\.9\.3-p429\@omega\.mtm\/gems\/susy-1\.0\.8\/sass\/susy\/_grid\.scss}line{font-family:\00003184}}
  #block-views-services-block li:nth-child(2n) {
    float: right;
    margin-right: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003133}}
  #block-views-services-block .service-icon {
    width: 21.05263%;
    float: left;
    margin-right: 5.26316%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003136}}
  #block-views-services-block .service-text {
    width: 73.68421%;
    float: right;
    margin-right: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003142}}
  .front .flex-direction-nav a {
    display: block;
    opacity: 1;
    color: #aaa;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003146}}
  .front .flex-direction-nav a:hover {
    color: #4DA1BD;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003151}}
  .front .flexslider .quote {
    margin: 0 30%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003154}}
  .flex-direction-nav .flex-prev {
    left: 0 !important;
    margin-left: -50px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003158}}
  .flex-direction-nav .flex-next {
    right: 0 !important;
    margin-right: -50px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003165}}
  .node--work .ds-col-1 {
    width: 40.67797%;
    float: left;
    margin-right: 1.69492%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003168}}
  .node--work .ds-col-2 {
    width: 57.62712%;
    float: right;
    margin-right: 0;
    padding-left: 30px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003177}}
  .page-services .view-services .views-row {
    clear: both;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003181}}
  .page-services .view-services .views-row-odd .service-screenshot {
    float: left;
    margin-right: 100px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003187}}
  .page-services .view-services .views-row-even .service-screenshot {
    float: right;
    margin-left: 100px;
  }
}
@media (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003196}}
  .l-constrained {
    max-width: 1014px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003201}}
  .l-branding {
    width: 36.70886%;
    float: left;
    margin-right: 1.26582%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003204}}
  .l-region--header {
    width: 62.02532%;
    float: right;
    margin-right: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003209}}
  .sidebar-first .l-content {
    width: 74.68354%;
    float: right;
    margin-right: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003212}}
  .sidebar-first .l-region--sidebar-first {
    width: 24.05063%;
    float: left;
    margin-right: 1.26582%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003217}}
  .sidebar-second .l-content {
    width: 74.68354%;
    float: left;
    margin-right: 1.26582%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003220}}
  .sidebar-second .l-region--sidebar-second {
    width: 24.05063%;
    float: right;
    margin-right: 0;
    clear: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003227}}
  .two-sidebars .l-content {
    width: 49.36709%;
    float: left;
    margin-right: 1.26582%;
    margin-left: 25.31646%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003232}}
  .two-sidebars .l-region--sidebar-first,
  .two-sidebars .l-region--sidebar-second {
    width: 24.05063%;
    float: left;
    margin-right: 1.26582%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003235}}
  .two-sidebars .l-region--sidebar-first {
    margin-left: -75.94937%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003238}}
  .two-sidebars .l-region--sidebar-second {
    float: right;
    margin-right: 0;
    clear: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003245}}
  .l-highlighted-wrapper {
    background: url(../../../images/highlighted-bg.jpg) repeat-x bottom;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003252}}
  .front .flexslider .flex-viewport li {
    position: relative;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003255}}
  .front .flexslider .slide-text {
    position: absolute;
    top: 50px;
    right: 0;
    width: 230px;
    text-align: left;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003261}}
  .front .flexslider .slide-text .project-link {
    float: right;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003264}}
  .front .flexslider .slide-text .quote-source {
    text-align: right;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003268}}
  .front .flexslider .slide-text .quote {
    margin: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tomrishworth\/Sites\/atmosphere-new\/sites\/all\/themes\/as\/sass\/layouts\/basic\/basic\.layout\.scss}line{font-family:\00003271}}
  .front .flexslider .slide-text .quote:after {
    right: 20px;
  }
}
